<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Job Search Template</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/bootstrap.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/bootstrap-table.min.css')}}">
    </head>

    <body style="font-family:'Microsoft YaHei';color:rgb(0, 0, 0)">
        <h2 style="font-family:'Microsoft YaHei';color:rgba(4, 8, 245, 0.904)">
            Hello, 
            {% if name %}
            {{ name }}!
            {% else %}
            tourist!
            {% endif %}
        </h2>

        <div id="searchbar-container" class="col-md-8 col-md-offset-2">
            <form method="post" id="searchForm" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal">
                <!--user name-->
                <div class="form-group">
                    <label for="name-input" class="col-sm-2 control-label">
                        Search Bar: 
                    </label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control input-field" id="name-input" name="name" placeholder="Enter the keyword for a post!">
                    </div>
                    <button type="submit" id="submit" class="col-sm-2" tabindex="0" style="font-size:16px;background-color:#519ff8;">
                        Search
                    </button>
                </div>
            </form>
        </div>

        <div id="filters-container" class="col-md-8 col-md-offset-2">
            <form method="post" id="filterForm" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal">
                <!--user name-->
                <div class="form-group">
                    <label class="col-sm-1"> Filter </label>
                    <select class="col-sm-2">Filter 1
                        <option disabled="disabled" selected="selected">(by date)</option>
                    </select>
                    <select class="col-sm-2">Filter 2
                        <option disabled="disabled" selected="selected">(by salary)</option>
                    </select>
                    <label class="col-sm-1"> Sort </label>
                    <select class="col-sm-2">Sorting 1
                        <option disabled="disabled" selected="selected">(by date)</option>
                    </select>
                    <select class="col-sm-2">Sorting 2
                        <option disabled="disabled" selected="selected">(by salary)</option>
                    </select>
                    <button type="submit" id="submit" class="col-sm-2" tabindex="1" style="font-size:12px;background-color:#519ff8;">
                        Reorganize
                    </button>
                </div>
            </form>
        </div>

        <table
            id="table"
            data-toggle="table"
            data-show-columns="true"
            data-pagination="true"
            data-page-list="[3, 5, 10, 50]"
            style="background:rgba(255,255,255,0.6);padding:10px">
            <thead style="background:rgb(165, 179, 224);padding:10px">
                <tr class="tr-class-1">
                    <th data-field="title">Job Title</th>
                    <th data-field="company">Company</th>
                    <th data-field="salary">Salary</th>
                    <th data-field="date">Post Date</th>
                </tr>
            </thead>
            <tbody>
                {% set id = 0 %}
                {% for post in posts %}
                <tr id="tr-id-{{loop.index}}" class="tr-class-{{loop.index}}" data-title="bootstrap table" data-object='{"key": "value"}'>
                    <td id="td-id-{{loop.index}}" class="td-class" data-title="bootstrap table">
                        <a href={{ post['link'] }} target="_blank">{{ post["title"] }}</a>
                    </td>
                    <td data-value="526">{{ post["company"] }}</td>
                    <td data-text="122">{{ post["salary"] }}</td>
                    <td data-i18n="Description"> {{ post["date"] }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <script src="{{ request.script_root }}/static/js/vendor/jquery.min.js"></script>
        <script src="{{ request.script_root }}/static/js/vendor/bootstrap.min.js"></script>
        <script src="{{ request.script_root }}/static/js/vendor/bootstrap-table.min.js"></script>
        <script src="{{ request.script_root }}/static/js/vendor/Index.js"></script>
    </body>

    <script>
    </script>
</html>