<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Job Search Template</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/bootstrap.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/bootstrap-table.min.css')}}">
    </head>

    <body style="font-family:'Microsoft YaHei';color:rgb(0, 0, 0)">
        <div class="maintitle">
            <div class="row justify-content-end">
                <div class="col-7 col-md-7">
                    <h2 style="font-family:'Arial',serif;font-style:italic;color:rgba(21, 34, 218, 0.904)">
                        Hello, 
                        {% if name %}
                            {{ name }}!
                        {% else %}
                            tourist! This is a job searching site.
                        {% endif %}
                    </h2>
                </div>
                <div class="col-2 col-md-2" style="margin-top:1%;">
                    {% if role == 2 %}
                    <form method="POST" class="col-md-2">
                        <button type="submit" class="btn" name="manage_posts" value="manage_posts"
                        style="font-size:16px;background-color:#6ad455;">
                            Job Post Management
                        </button>
                    </form>
                    {% elif role == 3 %}
                    <form method="POST" class="col-md-2">
                        <button type="submit" class="btn" name="manage_users" value="manage_users"
                        style="font-size:16px;background-color:#e26837;width:200px;">
                            User Management
                        </button>
                    </form>
                    {% endif %}
                </div>
                <div class="col-3 col-md-3" style="margin-top:1%;">
                    {% if role > 0 %}
                    <form method="POST" class="col-md-2">
                        <button type="submit" class="btn" name="show_favors" value="favors"
                        style="font-size:16px;background-color:#1adfe6;">
                            My Favored Posts
                        </button>
                    </form>
                    <form method="POST" class="col-md-1 col-md-offset-5">
                        <button type="submit" class="btn" name="logout" value="logout"
                        style="font-size:16px;background-color:#f37340;">
                            Log out
                        </button>
                    </form>
                    {% else %}
                    <form method="POST" class="col-md-2">
                        <button type="submit" class="btn" name="login" value="login"
                        style="font-size:16px;background-color:#519ff8;width:128px;">
                            Log in
                        </button>
                    </form>
                    <form method="POST" class="col-md-1 col-md-offset-4">
                        <button type="submit" class="btn" name="register" value="register"
                        style="font-size:16px;background-color:#1edb18;width:120px;">
                            Register
                        </button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>

        {% for error in errors %}
        <div class="alert alert-danger alert-dismissable" role="alert">
            <div class="error">
                <span class="sr-only">Error:</span>
                {{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
        </div>
        {% endfor %}

        <div id="searchbar-container" class="col-md-8 col-md-offset-2">
            <form method="post" id="searchForm" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal">
                <!--user name-->
                <div class="form-group">
                    <label for="kw-input" class="col-sm-2 control-label">
                        Search Bar: 
                    </label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control input-field" id="kw-input" name="keyword" placeholder="Enter the keyword for a post!">
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" id="submit_0" class="btn" tabindex="0" style="font-size:16px;background-color:#519ff8;">
                            Search
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div id="filters-container" class="col-md-12">
            <form method="post" id="filterForm" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal">
                <!--user name-->
                <div class="form-group">
                    <label class="col-sm-1 control-label"> Filter </label>
                    <div class="col-sm-2">
                        <select class="form-control" name="filter_date">Filter 1
                            <option disabled="disabled" selected="selected">(by date)</option>
                            <option value=1000> all </option>
                            <option value=1> within 24 hours </option>
                            <option value=3> within 3 days </option>
                            <option value=7> within 7 days </option>
                            <option value=30> within 1 month </option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control" name="filter_salary">Filter 2
                            <option disabled="disabled" selected="selected">(by salary)</option>
                            <option value="all"> all </option>
                            <option value="min_1000"> min salary >= $1,000 </option>
                            <option value="min_2000"> min salary >= $2,000 </option>
                            <option value="min_3000"> min salary >= $3,000 </option>
                            <option value="min_5000"> min salary >= $5,000 </option>
                            <option value="max_2000"> max salary >= $2,000 </option>
                            <option value="max_3000"> max salary >= $3,000 </option>
                            <option value="max_5000"> max salary >= $5,000 </option>
                            <option value="max_8000"> max salary >= $8,000 </option>
                            <option value="None"> salary not given </option>
                        </select>
                    </div>
                    <label class="col-sm-1 control-label"> Sort </label>
                    <div class="col-sm-2">
                        <select class="form-control" name="sort_date">Sorting 1
                            <option disabled="disabled" selected="selected">(by date)</option>
                            <option value="asc"> in ascending order </option>
                            <option value="desc"> in desceding order </option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control" name="sort_salary">Sorting 2
                            <option disabled="disabled" selected="selected">(by salary)</option>
                            <option value="asc_min"> min salary in ascending order </option>
                            <option value="desc_min"> min salary in desceding order </option>
                            <option value="asc_max"> max salary in ascending order </option>
                            <option value="desc_max"> max salary in desceding order </option>
                        </select>
                    </div>
                    <div class="col-sm-1">
                        <button type="submit" id="submit_1" class="btn" tabindex="1" style="font-size:14px;background-color:#519ff8;">
                            Reorganize
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <table
            id="table"
            data-toggle="table"
            data-pagination="true"
            data-page-list="[5, 10, 50]"
            data-detail-view="true"
            data-detail-formatter="detailFormatter"
            style="background:rgba(255,255,255,0.6);padding:10px">
            <thead style="background:rgb(165, 179, 224);padding:10px">
                <tr class="tr-class-1">
                    <th data-field="title">Job Title</th>
                    <th data-field="company">Company</th>
                    <th data-field="salary">Salary</th>
                    <th data-field="date">Post Date</th>
                    <th date-field="operation">Operations</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr id="tr-id-{{loop.index}}" class="tr-class-{{loop.index}}" data-title="bootstrap table" data-object='{"key": "value"}'>
                    <td id="td-id-{{loop.index}}" class="td-class" data-title="bootstrap table">
                        <a href={{ post['link'] }} target="_blank">{{ post["title"] }}</a>
                        <input id = "desc-{{loop.index}}" value="{{post['description']}}" hidden>
                    </td>
                    <td data-value="content_company">{{ post["company"] }}</td>
                    <td data-value="content_salary">{{ post["salary"] }}</td>
                    <td data-value="content_date"> {{ post["date"] }}</td>
                    <td data-value="content_operations">
                        <form method="POST">
                            <button type="submit" class="btn" 
                            name="favor" value="{{loop.index}}" style="background-color:#5bd157;"> 
                                Favor
                            </button>
                            <button type="submit" class="btn" 
                            name="unfavor" value="{{loop.index}}" style="background-color:#e29b4a;"> 
                                Unfavor
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <script src="{{ url_for('static', filename='js/vendor/jquery.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/vendor/bootstrap-table.min.js')}}"></script>
    </body>

    <script>
        function detailFormatter(index, row) {
            var html = []
            html.push('<p><b>' + "description" + ':</b> ' + $("#desc-" + (index+1)).val() + '</p>')
            html.push('<p><b>' + "salary" + ':</b> ' + row["salary"] + '</p>')
            html.push('<p><b>' + "date" + ':</b> ' + row["date"] + '</p>')
            return html.join('');
        }
    </script>
</html>