<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Job Search Template</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/bootstrap.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/bootstrap-table.min.css')}}">
    </head>

    <body style="font-family:'Microsoft YaHei';color:rgb(0, 0, 0)">
        <h2 style="font-family:'Microsoft YaHei';color:rgba(2, 150, 59, 0.904)">
            Hello, 
            {% if name %}
            {{ name }}!
            {% else %}
            tourist!
            {% endif %}
        </h2>

        <div id="searchbar-container" class="col-md-8 col-md-offset-2">
            <form method="post" id="searchForm" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal">
                <!--user name-->
                <div class="form-group">
                    <label for="kw-input" class="col-sm-2 control-label">
                        Search Bar: 
                    </label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control input-field" id="kw-input" name="keyword" placeholder="Enter the keyword for a post!">
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" id="submit_0" class="btn" tabindex="0" style="font-size:16px;background-color:#519ff8;">
                            Search
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div id="filters-container" class="col-md-12">
            <form method="post" id="filterForm" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal">
                <!--user name-->
                <div class="form-group">
                    <label class="col-sm-1 control-label"> Filter </label>
                    <div class="col-sm-2">
                        <select class="form-control" name="filter_date">Filter 1
                            <option disabled="disabled" selected="selected">(by date)</option>
                            <option value=1> within 24 hours </option>
                            <option value=3> within 3 days </option>
                            <option value=7> within 7 days </option>
                            <option value=30> within 1 month </option>
                            <option value=1000> all </option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control" name="filter_salary">Filter 2
                            <option disabled="disabled" selected="selected">(by salary)</option>
                            <option value="None"> not given </option>
                            <option value="min_1000"> min salary >= $1,000 </option>
                            <option value="min_2000"> min salary >= $2,000 </option>
                            <option value="min_3000"> min salary >= $3,000 </option>
                            <option value="min_5000"> min salary >= $5,000 </option>
                            <option value="max_2000"> max salary >= $2,000 </option>
                            <option value="max_3000"> max salary >= $3,000 </option>
                            <option value="max_5000"> max salary >= $5,000 </option>
                            <option value="max_8000"> max salary >= $8,000 </option>
                            <option value="all"> all </option>
                        </select>
                    </div>
                    <label class="col-sm-1 control-label"> Sort </label>
                    <div class="col-sm-2">
                        <select class="form-control" name="sort_date">Sorting 1
                            <option disabled="disabled" selected="selected">(by date)</option>
                            <option value="asc"> in ascending order </option>
                            <option value="desc"> in desceding order </option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control" name="sort_salary">Sorting 2
                            <option disabled="disabled" selected="selected">(by salary)</option>
                            <option value="asc_min"> min salary in ascending order </option>
                            <option value="desc_min"> min salary in desceding order </option>
                            <option value="asc_max"> max salary in ascending order </option>
                            <option value="desc_max"> max salary in desceding order </option>
                        </select>
                    </div>
                    <div class="col-sm-1">
                        <button type="submit" id="submit_1" class="btn" tabindex="1" style="font-size:12px;background-color:#519ff8;">
                            Reorganize
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <table
            id="table"
            data-toggle="table"
            data-show-columns="true"
            data-pagination="true"
            data-page-list="[3, 5, 10, 50]"
            style="background:rgba(255,255,255,0.6);padding:10px">
            <thead style="background:rgb(165, 179, 224);padding:10px">
                <tr class="tr-class-1">
                    <th data-field="title">Job Title</th>
                    <th data-field="company">Company</th>
                    <th data-field="salary">Salary</th>
                    <th data-field="date">Post Date</th>
                </tr>
            </thead>
            <tbody>
                {% if posts %}
                {% for post in posts %}
                <tr id="tr-id-{{loop.index}}" class="tr-class-{{loop.index}}" data-title="bootstrap table" data-object='{"key": "value"}'>
                    <td id="td-id-{{loop.index}}" class="td-class" data-title="bootstrap table">
                        <a href={{ post['link'] }} target="_blank">{{ post["title"] }}</a>
                    </td>
                    <td data-value="526">{{ post["company"] }}</td>
                    <td data-text="122">{{ post["salary"] }}</td>
                    <td data-i18n="Description"> {{ post["date"] }}
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>

        <script src="{{ request.script_root }}/static/js/vendor/jquery.min.js"></script>
        <script src="{{ request.script_root }}/static/js/vendor/bootstrap.min.js"></script>
        <script src="{{ request.script_root }}/static/js/vendor/bootstrap-table.min.js"></script>
    </body>

    <script>
    </script>
</html>