<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>User Manage Template</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/bootstrap.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/bootstrap-table.min.css')}}">
    </head>

    <body style="font-family:'Microsoft YaHei';color:rgb(0, 0, 0)">
        <div class="maintitle">
            <div class="row">
                <div class="col-10 col-md-10">
                    <h2 style="font-family:'Arial',serif;font-style:italic;color:rgba(189, 61, 2, 0.904)">
                        Thanks for your hard work, 
                        {{ name }}!
                    </h2>
                </div>
                <div class="col-2 col-md-2" style="margin-top:1%;">
                    <form method="POST" class="col-md-2">
                        <button type="submit" class="btn" name="return" value="return"
                        style="font-size:14px;background-color:#519ff8;">
                            Return to Main Page
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div id="searchbar-container" class="col-md-12 col-md-offset-2">
            <form method="post" id="searchForm" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal">
                <!--user name-->
                <div class="form-group">
                    <label for="kw-input" class="col-md-2 control-label">
                        Search by: 
                    </label>
                    <div class="col-md-2">
                        <select class="form-control" name="search_kw">
                            <option disabled="disabled" selected="selected">(choose a keyword)</option>
                            <option value="user_id"> User ID </option>
                            <option value="name"> User Name </option>
                            <option value="email"> Email </option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control input-field" id="kw-input" name="keyword" placeholder="this is an exact match">
                    </div>
                    <div class="col-md-2">
                        <button type="submit" id="submit_0" class="btn" tabindex="0" style="font-size:16px;background-color:#eba57d;">
                            Search
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div id="filters-container" class="col-md-10 col-md-offset-2">
            <form method="post" id="filterForm" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal">
                <!--user name-->
                <div class="form-group">
                    <label class="col-md-1 control-label"> Filter </label>
                    <div class="col-md-2">
                        <select class="form-control" name="filter_role">
                            <option disabled="disabled" selected="selected">(by role)</option>
                            <option value="all"> All </option>
                            <option value="jobseeker"> Job Seeker </option>
                            <option value="company"> Company </option>
                            <option value="admin"> Administrater </option>
                        </select>
                    </div>
                    <label class="col-md-1 control-label"> Sort </label>
                    <div class="col-md-2">
                        <select class="form-control" name="sort_userid">
                            <option disabled="disabled" selected="selected">(by id)</option>
                            <option value="asc"> in ascending order </option>
                            <option value="desc"> in desceding order </option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control" name="sort_name">
                            <option disabled="disabled" selected="selected">(by name)</option>
                            <option value="asc"> in ascending order </option>
                            <option value="desc"> in desceding order </option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        <button type="submit" id="submit_1" class="btn" tabindex="1" style="font-size:12px;background-color:#eba57d;">
                            Reorganize
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <table
            id="table"
            data-toggle="table"
            data-pagination="true"
            data-page-list="[5, 10, 50]"
            style="background:rgba(255,255,255,0.6);padding:10px">
            <thead style="background:rgba(226, 152, 118, 0.904);padding:10px">
                <tr class="tr-class-1">
                    <th data-field="head_id">User ID</th>
                    <th data-field="head_name">User Name</th>
                    <th data-field="head_email">Email</th>
                    <th data-field="head_role">Role</th>
                    <th data-field="head_operations"> Operations </th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr id="tr-id-{{loop.index}}" class="tr-class-{{loop.index}}" data-title="bootstrap table" data-object='{"key": "value"}'>
                    <td data-value="content_id"> {{ user["user_id"] }} </td>
                    <td data-value="content_name">{{ user["name"] }}</td>
                    <td data-value="content_email">{{ user["email"] }}</td>
                    <td data-value="content_role"> {{ user["role"] }}</td>
                    {% if user["role"] == "Administrator" %}
                    <td data-value="content_operations">
                        <form method="POST">
                            <button type="submit" class="btn" disabled="disabled" 
                            name="delete" value="{{loop.index}}" style="background-color:#fa4c35;">
                                Delete 
                            </button>
                        </form>
                    </td>
                    {% else %}
                    <td data-value="content_operations">
                        <form method="POST">
                            <button type="submit" class="btn" 
                            name="delete" value="{{loop.index}}" style="background-color:#fa4c35;"> 
                                Delete 
                            </button>
                        </form>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <script src="{{ url_for('static', filename='js/vendor/jquery.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/vendor/bootstrap-table.min.js')}}"></script>
    </body>

    <script>
        function delete_user(value) {
            document.getElementById('delete_'+value).value = value
        };
    </script>
</html>